# Keil / ARM build files
*.obj
*.o
*.axf
*.hex
*.bin
*.map
*.lst
*.bak
*.dep
*.d
*.crf
*.iex
*.htm

# Keil generated folders
Listings/
Objects/

# Temporary files
*.tmp
*.log

# Windows files
Thumbs.db
Desktop.ini
